/* Colors taken from http://www.google.com/design/spec/style/color.html#color-color-palette */
$white: #fafafa;
$lightgray: #bdbdbd;
$gray: #303030;
$darkgray: #212121;
/* Here, I always use 500, 700, 800, 900 (compare to the website linked above */
$blue: #2196f3, #1976d2, #1565c0, #0d47a1;
$green: #4caf50, #388e3c, #2e7d32, #1b5e20;
$red: #f44336, #d32f2f, #c62828, #b71c1c;
$indigo: #3f51b5, #303f9f, #283593, #1a237e;
$teal:  #009688 #00796b #00695c #004d40;


$colors: $teal;
$text-color: $lightgray;
$heading-text-color: $white;
$background-color: $darkgray;
$menu-background-color: $gray;
$menu-item-text-color: $white;
$menu-item-hover-text-color: $lightgray;
$link-text-color: $white;
$link-hover-text-color: $lightgray;
$footer-text-color: $darkgray;
