@import "compass";
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "colors";

html, body, nav {
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: $white;
    color: $textcolor;
    font-family: Roboto;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    @include box-shadow(0 0 2px 2px black);
    background-color: nth($colors, 1);
    z-index: 50;
}
nav {
    #menu h2 {
        text-align: center;
        font-size: 3em;
        margin: 0;
        padding: 0;
        opacity: 0;
        color: $lightgray;
        @include transition(all 0.2s ease-out);
    }
    #menu {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $darkgray;
        @include transition(all 0.5s);
        @include box-shadow(0 0 0 black);
        z-index: 100;
    }
    @media (orientation: landscape) {
        #menuchk:checked ~ #menubtn {
            width: 50%;
            height: 100%;
        }
        #menu { width: 50%; left: -50%; }
    }
    #menubtn {
        display: block;
        position: fixed;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 35px;
        height: 60px;
        padding: 0 10px;
        @include transition(all 0.5s);
        @include user-select(none);
        z-index: 50;
    }
    #hamburger, #hamburger:before, #hamburger:after {
        display: block;
        position: absolute;
        top: 29px;
        content: '';
        height: 3px;
        width: 35px;
        border-radius: 2px;
        background-color: black;
        @include transition(all 0.5s);
    }
    #hamburger:before {
        top: -10px;
        left: 0;
    }
    #hamburger:after {
        top: 10px;
        left: 0;
    }
    #menuchk {
        display: none;
    }
    #menuchk:checked ~ #menu h2 {
        opacity: 1;
        @include transition(all 0.5s cubic-bezier(1,.01,1,.01));
    }
    #menuchk:checked ~ #menubtn #hamburger:before {
        background-color: $white;
        @include transform(rotate(45deg));
        width: 25px;
        left: 14px;
        top: -8px;
    }
    #menuchk:checked ~ #menubtn #hamburger {
        @include transform(rotate(180deg));
        background-color: $white;
    }
    #menuchk:checked ~ #menubtn #hamburger:after {
        background-color: $white;
        @include transform(rotate(-45deg));
        width: 25px;
        left: 14px;
        top: 8px;
    }
    #menuchk:checked ~ #menu {
        left: 0;
        @include box-shadow(0 0 5px 0 black);
    }
    #menuchk:checked ~ #menubtn {
        left: 0;
        z-index: 200;
    }
    @media (orientation: landscape) {
        #menuchk:checked ~ #menubtn {
            left: 50%;
        }
        #menuchk:checked ~ #menubtn #hamburger, #menuchk:checked ~ #menubtn #hamburger:before,
            #menuchk:checked ~ #menubtn #hamburger:after {
            background-color: black;
        }
    }
    #menu ul {
        position: relative;
        top: 50%;
        @include transform(translateY(-50%) translateY(-30px));
        list-style: none;
        font-size: 1em;
        width: 92%;
        margin: 0;
        padding: 10px 0;
        margin: 0 4%;
        border-top: 2px black solid;
        border-bottom: 2px black solid;
    }
    #menu ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    #menu ul li a {
        color: $white;
        text-decoration: none;
        @include transition(all 0.2s);
    }
    #menu ul li a:hover {
        color: $gray;
    }
}

#content {
    padding-top: 60px;

    h2 {
        display: block;
        position: sticky;
        position: -webkit-sticky;
        margin: 0;
        left: 0;
        padding: 40px 5px;
        color: $white;
        @include box-shadow(0 0 2px 2px black);
        text-align: center;
        font-size: 3em;
        @include transition(all 0.5s);
    }
    #h1 {
        background-color: nth($colors, 2);
        top: -70px;
        z-index: 30;
    }
    #h2 {
        background-color: nth($colors, 3);
        top: -57px;
        z-index: 20;
    }
    #h3 {
        background-color: nth($colors, 4);
        top: -44px;
        z-index: 10;
    }
    #h1:hover, #h2:hover, #h3:hover {
        top: 60px;
    }
    section {
        padding: 20px 30px;
        font-size: 1.5em;
        text-align: justify;
    }
    /* Very tricky way to position the section under the header when clicking on a link */
    section p:before {
        content: ' ';
        display: block;
        height: 250px;
        margin-top: -250px;
        visibility: hidden;
    }
    /* At some point, there's a linebreak in the header. Therefore it's top value has to change */
    @media (max-width: 32.5em) {
        #h1 { top: -134px; }
        #s1:before { height: 310px; margin-top: -310px; }
    }
    @media (max-width: 25.7em) {
        #h2 { top: -121px; }
        #s2:before { height: 310px; margin-top: -310px; }
    }
    @media (max-width: 26.5em) {
        #h3 { top: -108px; }
        #s3:before { height: 310px; margin-top: -310px; }
    }
}
