@charset "UTF-8";
/* line 6, ../sass/style.scss */
.hamburger {
  padding: 20px 10px;
  height: 410px;
  width: 600px;
  background-color: red;
}

/* line 12, ../sass/style.scss */
.hamburger > div, .hamburger div:before, .hamburger div:after {
  display: block;
  position: relative;
  left: 0;
  top: 200px;
  height: 10px;
  width: 600px;
  background-color: black;
  pointer-events: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 23, ../sass/style.scss */
.hamburger div:before, .hamburger div:after {
  content: '';
  position: absolute;
}

/* line 27, ../sass/style.scss */
.hamburger div:before {
  top: -200px;
}

/* line 30, ../sass/style.scss */
.hamburger div:after {
  top: 200px;
}

/*
    45°\    |
    ------------ length = $hamburger-arrow-length
length/2 \  | h = sin(45°) * length/2
          \ |
            |$hamburger-distance - h
    ------------------

        d = cos(45°) * length / 2
    45°\|   |
    ------------ length = $hamburger-arrow-length
length/2 \  |
          \ |
            |        | left = $hamburger-width - (length / 2 + d)
    ------------------
*/
/* line 51, ../sass/style.scss */
.hamburger:hover div:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 300px;
  left: 345.36255px;
  top: -102.53048px;
}

/* line 57, ../sass/style.scss */
.hamburger:hover div {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 60, ../sass/style.scss */
.hamburger:hover div:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 300px;
  left: 345.36255px;
  top: 102.53048px;
}
