@charset "UTF-8";
/* line 7, ../sass/style.scss */
.hamburger {
  padding: 6px 3px;
  height: 23px;
  width: 35px;
  background-color: red;
}

/* line 13, ../sass/style.scss */
.hamburger > div, .hamburger div:before, .hamburger div:after {
  display: block;
  position: relative;
  left: 0;
  top: 10px;
  height: 3px;
  width: 35px;
  border-radius: 2px;
  background-color: black;
  pointer-events: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 25, ../sass/style.scss */
.hamburger div:before, .hamburger div:after {
  content: '';
  position: absolute;
}

/* line 29, ../sass/style.scss */
.hamburger div:before {
  top: -10px;
}

/* line 32, ../sass/style.scss */
.hamburger div:after {
  top: 10px;
}

/*
    45째\    |
    ------------ length = $hamburger-arrow-length
length/2 \  | h = sin(45째) * length/2
          \ |
            |$hamburger-distance - h
    ------------------

        d = cos(45째) * length / 2
    45째\|   |
    ------------ length = $hamburger-arrow-length
length/2 \  |
          \ |
            |        | left = $hamburger-width - (length / 2 + d)
    ------------------
*/
/* line 53, ../sass/style.scss */
.hamburger:hover div:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  left: 13.66117px;
  top: -8.33883px;
}

/* line 59, ../sass/style.scss */
.hamburger:hover div {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 62, ../sass/style.scss */
.hamburger:hover div:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 25px;
  left: 13.66117px;
  top: 8.33883px;
}
